#!/bin/sh
#
# chkconfig: 2345 26 74
# description: 
# processname: pylon

# Source function library.
. /etc/init.d/functions

RETVAL=0
BINDIR=/usr/local/bin
PIDFILE=/var/run/pylon.pid
LOGFILE=/var/log/pylon.log

start() {
    echo -n $"Starting up pylon server: "
    $BINDIR/pylon -d 
    RETVAL=$?
    echo
    return $RETVAL
}

stop() {
    echo -n $"Shutting down pylon server: "
    kill `cat $PIDFILE`
    rm -f $PIDFILE
    RETVAL=$?
    echo
    return $RETVAL
}

restart() {
    stop
    sleep 1
    start
}

status() {
    $BINDIR/pylonstatus.pl
}

# See how we were called.
case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart|reload)
        restart
        ;;
    status)
        status
        ;;
    *)
        echo $"Usage: pylon {start|stop|restart|status}"
        exit 1
esac

exit $RETVAL
